body {
    margin: 0 auto;
    text-align: center;
    font-family: 'RF Dewi';
    font-weight: bold;
    font-size: 1em;
}

.header {
    background: #86b6e9;
    grid-area: header;
}

.main {
    background: #BBE986;
    grid-area: main;
}

.up_box1,
.up_box2,
.box3 {
    background: rgba(255, 255, 255, 0.734);
}

.sidebar {
    background: #DDE986;
    grid-area: sidebar;
    padding: 5%;
}

.footer {
    background: #E9c886;
}

.section {
    padding: 1%;
    background: rgba(255, 255, 255, 0.734);
}

@media screen and (min-width: 800px) {

    .container {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 10% 1fr 20%;
        height: 100vh;
        grid-template-areas:
            "header header header header"
            "main main main sidebar"
            "footer footer footer footer";
    }

    .container_main {
        display: flex;
    }

    .title {
        padding: 5%;
        height: 30vh;
    }

    .up_box1,
    .up_box2,
    .box3 {
        padding: 2%;
        margin: 2%;
    }

    .up_box1,
    .up_box2 {
        flex-grow: 1;
    }

    .footer {
        grid-area: footer;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

@media screen and (min-width: 400px) and (max-width: 799px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 10% 1fr 20%;
        height: 100vh;
        grid-template-areas:
            "header header"
            "main sidebar"
            "footer footer";
    }

    .title {
        padding: 5%;
        height: 30vh;
    }

    .up_box1,
    .up_box2,
    .box3 {
        padding: 10%;
        margin: 5%;
    }

    .footer {
        grid-area: footer;
        height: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .section {
        margin: 2%;
    }
}

@media screen and (max-width: 399px) {
    .header {
        height: 10vh;
    }

    .sidebar {
        height: 30vh;
    }

    .main {
        height: 30vh;
    }

    .title {
        height: 5vh;
        padding: 5%;
    }

    .up_box1,
    .up_box2,
    .box3 {
        padding: 1%;
        margin: 2%;
    }

    .footer {
        height: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .section {
        margin: 2%;
    }
}